.Node--unlocked:hover {
  animation: none;
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 1);
}

.Node--unlocked:after,
.Node--unlocked:before {
  border: 0 solid;
  border-image-source: linear-gradient(
    to right,
    #d0e6a5 0%,
    #86e3ce 50%,
    #ccabd8 100%
  );
  border-image-slice: 1;
  content: ' ';
  opacity: 0;
  height: 0;
  transition: opacity 0.6s, width 0.6s, height 0.6s;
  position: absolute;
  width: 0;
}

.Node--unlocked:after {
  border-top: 4px solid;
  border-left: 4px solid;
  top: 0;
  left: 0;
}

.Node--unlocked:before {
  bottom: 0px;
  right: 0px;
  border-bottom: 4px solid;
  border-right: 4px solid;
}

.Node--unlocked:hover:before,
.Node--unlocked:hover:after {
  opacity: 1;
  height: 85%;
  width: 95%;
  transition: width 0.6s, height 0.6s;
}

.AngledLine--rounded-top-left {
  border-top-left-radius: 8px;
}

.AngledLine--rounded-top-right {
  border-top-right-radius: 8px;
}

.AngledLine--rounded-bottom-left {
  border-bottom-left-radius: 8px;
}

.AngledLine--rounded-bottom-right {
  border-bottom-right-radius: 8px;
}

.AngledLine__line-one--selected {
  animation: slidedown-angled-line-one 0.3s 1 ease-in;
  background-position: left bottom;
}

.AngledLine__line-two--selected {
  animation: slidedown-angled-line-two 1s 1;
  background-position: left bottom;
}

.AngledLine__line-three--selected {
  animation: slidedown-angled-line-three 1.2s 1 ease-out;
  background-position: left bottom;
}

@keyframes slidedown-angled-line-one {
  from,
  33% {
    background-position: right top;
  }

  to {
    background-position: left bottom;
  }
}

@keyframes slidedown-angled-line-two {
  from,
  30% {
    background-position: right top;
  }

  to {
    background-position: left bottom;
  }
}

@keyframes slidedown-angled-line-three {
  from,
  70% {
    background-position: right top;
  }

  to {
    background-position: left bottom;
  }
}
