.SkillTreeGroup {
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 8px 48px;
  min-width: fit-content;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 900px) {
  .SkillTreeGroup {
    flex-wrap: nowrap;
    padding-right: 300px;
  }
}

.SkillTree__container {
  margin: 0 8px 48px;
  min-width: fit-content;
}

.SkillTree {
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  justify-content: center;
}

.SkillTree > .SkillTreeSegment {
  margin: 8px 0;
}

.SkillTree__title {
  min-width: 152px;
  text-align: center;
}

@media (min-width: 900px) {
  .SkillTree__container {
    margin: 0 8px 16px;
    min-width: initial;
  }

  .SkillTree {
    flex-direction: row;
  }

  .SkillTree > .SkillTreeSegment {
    margin: 0;
  }

  .SkillTree__title {
    min-height: 56px;
  }
}

.SkillNode {
  margin: 0 auto;
  position: relative;
  width: fit-content;
}

.SkillNode__overlay {
  background-color: white;
  border-radius: 4px;
  height: 100%;
  left: 8px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 10;
}

.SkillNode__overlay--selected {
  animation: fadeout 3.5s 1;
}

.SkillNode__icon {
  height: 75%;
  margin: auto;
  width: 75%;
}

.SkillNode__tooltip-placeholder {
  height: 82px;
  position: absolute;
  top: 0;
  width: 344px;
}

@media (min-width: 900px) {
  .SkillNode__overlay {
    left: 14px;
  }
}

.SkillEdge__container {
  height: 56px;
}

.SkillEdge {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 210% 100%;
  background-position: right top;
  opacity: 0.5;
  transition: opacity 0.6s;
}

.SkillEdge--unlocked {
  opacity: 1;
}

.SkillEdge--active {
  animation: slidedown 1.2s 1 ease-out;
  background-position: left bottom;
}

.Tooltip__hover-container {
  padding: 0 8px;
  position: absolute;
  z-index: 11;
}

.Tooltip__hover-container--outside-window {
  top: inherit;
  bottom: 0;
}

.Tooltip {
  background-color: #282c34;
  border: 2px solid;
  border-image-source: linear-gradient(
    to right,
    #d0e6a5 0%,
    #86e3ce 50%,
    #ccabd8 100%
  );
  border-image-slice: 1;
  border-radius: 4px;
  padding: 0 8px;
  text-align: left;
  width: 320px;
}

.Node {
  background: #282c34;
  border: 2px solid white;
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin: 0 8px;
  position: relative;
  transition: box-shadow 0.6s, opacity 1s;
  user-select: none;
}

.Node--locked {
  cursor: initial;
  opacity: 0.65;
}

.Node--unlocked {
  animation: shadowpulse 1s infinite alternate;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
}

.Node--unlocked:hover {
  animation: none;
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 1);
}

.Node--unlocked:after,
.Node--unlocked:before {
  border: 0 solid;
  border-image-source: linear-gradient(
    to right,
    #d0e6a5 0%,
    #86e3ce 50%,
    #ccabd8 100%
  );
  border-image-slice: 1;
  content: ' ';
  opacity: 0;
  height: 0;
  transition: opacity 0.6s, width 0.6s, height 0.6s;
  position: absolute;
  width: 0;
}

.Node--unlocked:after {
  border-top: 4px solid;
  border-left: 4px solid;
  top: 0;
  left: 0;
}

.Node--unlocked:before {
  bottom: 0px;
  right: 0px;
  border-bottom: 4px solid;
  border-right: 4px solid;
}

.Node--unlocked:hover:before,
.Node--unlocked:hover:after {
  opacity: 1;
  height: 95%;
  width: 95%;
  transition: width 0.6s, height 0.6s;
}

.Node--selected {
  animation: shadowburst 1s 1;
  background: linear-gradient(to right, #d0e6a5 0%, #86e3ce 50%, #ccabd8 100%);
}

.Node__icon-node {
  width: 64px;
}

.Node__text-node {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: center;
  height: 32px;
  width: 108px;
}

.Node__text {
  font-size: 14px;
  text-overflow: ellipsis;
  margin: 0;
  overflow: hidden;
  padding: 0 8px;
  white-space: nowrap;
}

@media (min-width: 900px) {
  .Node {
    margin: 0 16px;
  }

  .Node__text-node {
    height: 28px;
    width: 144px;
  }

  .Node__text {
    font-size: 16px;
  }
}

.Icon {
  height: 75%;
  margin: auto;
  width: 75%;
}

.AngledLine {
  border: 1px solid white;
  height: 4px;
  position: absolute;
}

.AngledLine--vertical {
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.AngledLine--horizontal {
  border-left: none;
  border-right: none;
}

.AngledLine--rounded-top-left {
  border-top-left-radius: 8px;
}

.AngledLine--rounded-top-right {
  border-top-right-radius: 8px;
}

.AngledLine--rounded-bottom-left {
  border-bottom-left-radius: 8px;
}

.AngledLine--rounded-bottom-right {
  border-bottom-right-radius: 8px;
}

.AngledLine__line-one--active {
  animation: slidedown-angled-line-one 0.3s 1 ease-in;
  background-position: left bottom;
}

.AngledLine__line-two--active {
  animation: slidedown-angled-line-two 1s 1;
  background-position: left bottom;
}

.AngledLine__line-three--active {
  animation: slidedown-angled-line-three 1.2s 1 ease-out;
  background-position: left bottom;
}

@keyframes slidedown-angled-line-one {
  from,
  33% {
    background-position: right top;
  }

  to {
    background-position: left bottom;
  }
}

@keyframes slidedown-angled-line-two {
  from,
  30% {
    background-position: right top;
  }

  to {
    background-position: left bottom;
  }
}

@keyframes slidedown-angled-line-three {
  from,
  70% {
    background-position: right top;
  }

  to {
    background-position: left bottom;
  }
}

@keyframes fadeout {
  from,
  30% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slidedown {
  from,
  50% {
    background-position: right top;
  }

  to {
    background-position: left bottom;
  }
}

@keyframes shadowpulse {
  from,
  20% {
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  }

  to {
    box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.5);
  }
}

@keyframes shadowburst {
  from {
    box-shadow: 0 0 18px 0 rgba(255, 255, 255, 1);
  }

  20% {
    box-shadow: 0 0 24px 0 rgba(255, 255, 255, 1);
  }

  to {
    box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0);
  }
}
