.Node {
  background: #282c34;
  border: 2px solid white;
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin: 0 8px;
  position: relative;
  transition: box-shadow 0.6s, opacity 1s;
  user-select: none;
}

.Node--locked {
  cursor: initial;
  opacity: 0.65;
}

.Node--unlocked {
  animation: shadowpulse 1s infinite alternate;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
}

.Node--unlocked:hover {
  animation: none;
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 1);
}

.Node--unlocked:after,
.Node--unlocked:before {
  border: 0 solid;
  border-image-source: linear-gradient(
    to right,
    #d0e6a5 0%,
    #86e3ce 50%,
    #ccabd8 100%
  );
  border-image-slice: 1;
  content: ' ';
  opacity: 0;
  height: 0;
  transition: opacity 0.6s, width 0.6s, height 0.6s;
  position: absolute;
  width: 0;
}

.Node--unlocked:after {
  border-top: 4px solid;
  border-left: 4px solid;
  top: 0;
  left: 0;
}

.Node--unlocked:before {
  bottom: 0px;
  right: 0px;
  border-bottom: 4px solid;
  border-right: 4px solid;
}

.Node--unlocked:hover:before,
.Node--unlocked:hover:after {
  opacity: 1;
  height: 95%;
  width: 95%;
  transition: width 0.6s, height 0.6s;
}

.Node--selected {
  animation: shadowburst 1s 1;
  background: linear-gradient(to right, #d0e6a5 0%, #86e3ce 50%, #ccabd8 100%);
}

.Node__icon-node {
  width: 64px;
}

.Node__text-node {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: center;
  height: 32px;
  width: 108px;
}

.Node__text {
  font-size: 14px;
  text-overflow: ellipsis;
  margin: 0;
  overflow: hidden;
  padding: 0 8px;
  white-space: nowrap;
}

@media (min-width: 900px) {
  .Node {
    margin: 0 16px;
  }

  .Node__text-node {
    height: 28px;
    width: 144px;
  }

  .Node__text {
    font-size: 16px;
  }
}
