.Tooltip__hover-container {
  padding: 0 8px;
  position: absolute;
  z-index: 11;
}

.Tooltip__hover-container--outside-window {
  top: inherit;
  bottom: 0;
}

.Tooltip {
  background-color: #282c34;
  border: 2px solid;
  border-image-source: linear-gradient(
    to right,
    #d0e6a5 0%,
    #86e3ce 50%,
    #ccabd8 100%
  );
  border-image-slice: 1;
  border-radius: 4px;
  padding: 0 8px;
  text-align: left;
  width: 320px;
}
